.nav{
    flex-direction: column;
}

.contenido-principal{
    display: flex;
}

.page-link{
    color: #ff0000 !important;
}

.nav .nav-link{
    color: #ff0000;
}

.img-usuario{
    width: 250px;
}
