body{
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    background-color: #ff0000;
}

main{
    flex-grow: 1;
    
}

.img-logo{
    width: 300px;
    border-radius: 50%;
}

.menu{
    display: flex;
    justify-content: space-around;
}

.menu  h3{
    font-weight: 800;
    color: #fff;
}

.menu p{
    font-weight: 500;
}

.color-texto{
    color: #ffff00;
}

.card{
    width: 240px;
    margin: 0 auto;
}

.card img{
    margin: 5px auto;
    width: 120px;
    height: 120px;
}

.card-precio{
    display: inline;
    text-align: center;
    padding: 2px 8px;
    border-radius: 10px;
    color: #fff;
    background-color: #000;
}

.row{
    margin: 0 auto;
}

.img-logo-tarjeta{
    width: 150px;
    background-color: #fff;
    padding: 5px;
    border-radius: 10px;
}

.icono-admin{
    font-size: 25px;
    color: #ffff00;
}

.icono-admin:hover{
    color: #ffff;
}

.texto-info{
    color: #fff;
}

.linea{
    border: 2px solid #ffff00;
    border-radius: 10px;
    opacity: 1;
}

footer .color-texto{
    font-weight: 800;
}

.formLogin{
    background-color: #ffff;
    padding: 60px;
    border-radius: 10px;
}

@media screen and (max-width: 767px){
    .img-logo{
        width: 60%;
        border-radius: 50%;
    }
}